/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
body{
    /* font-family: "Roboto", sans-serif; */
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    img{
        width: 175px;
    }
    display: flex;
    margin:0 auto; 
    padding: 20px;
    background-color: rgb(189, 219, 237);
    width: 400px;
    justify-content: space-around;
    border-bottom: 4px solid violet;
    

}
.section .sec-item{
    text-align: center;
}